:host{
  font-family: "Open Sans",Arial,"Lucida Grande",sans-serif;
  display: block;
  margin-top: 20px;
  text-align: center;
}
::selection {
  background-color: #FF5E6B;
  color: white;
}

a {
  color: #45a7dd;
  text-decoration: underline;
  text-decoration-style: dashed;
}

@media (prefers-color-scheme: dark) {
  :host {
    color: #e0e0e0;
  }
}